body {
    margin: 0;
    font-family: Quicksand;
}

.container {
    text-align: center;
    border: 3px solid green;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 10%;
}

.container input[type=number],
select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.container input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container p {
    width: 40%;
    color: rgba(239, 241, 248, 0.993);
    margin: auto;
    padding: 10px;
    color: #45a049;
    align-content: center;
}